/* Fonts */

/* font-family: 'Lato', sans-serif; */
/* font-family: 'Sintony', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*<--------------css reset------------>*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* <---------------Header Section---------------> */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(4,9,30,0.8), rgba(4,9,30,0.5)), url('../images/ccp3.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
}

/* <-----------------Navbar Section-----------------> */

nav {
    display: flex;
    /* padding: 40px 56px 10px 70px;  */
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #a2dbfa;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* <-----------------Main section------------------> */

.text-area {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-area h1 {
    font-size: 50px;
    font-family: 'Sintony', sans-serif;
}

.text-area p {
    font-family: 'Poppins', sans-serif;
}

.visit-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    margin-top: 20px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.visit-btn:hover {
    color: black;
    border: 1px solid #FFF5FD;
    background-color: #FFF5FD;
    transition: 0.2s;
}

/* <----------------Course Section----------------> */

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 45px;
}

.course h1 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.course p {
    color: #082032;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    padding: 16px;
}

.course-row  {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.course-column {
    flex-basis: 18%;
    background-color: #CDF0EA;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 12px 0;
}

.course-column:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
}

/* <-------------------Gallery Section-----------------> */

.gallery {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 45px;
}

.gallery h1 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.gallery p {
    color: #082032;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    padding: 16px;
}

.gallery-row  {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}


.gallery-column {
    display: flex;
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.gallery-column img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%; 
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(4,9,30,0.5);
}

.layer h3 {
    width: 100%;
    font-weight: 800;
    color: white;
    font-size: 27px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/* <---------------Facilities----------->  */

.facility {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 45px;
}

.facility h1 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.facility p {
    color: #082032;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    padding: 16px;
}

.facility-row  {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.facility-column {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facility-column img {
    display: flex;
    width: 100%;
    border-radius: 10px;
}

.facility-column h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 29px;
}

/* <------------Footer Section----------------> */

footer p{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.copy {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: white;
    background-color: #082032;
}